<% layout('layouts/boilerplate.ejs')%>
<h1>Model Testing</h1>
<h4 class="mt-3">Upload the desired image, which will be processed and the classification output will be displayed.</h4>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <!-- <input type="file" name="image" /> -->
<div class="mt-4">
    <input class="form-control" type="file" id="formFile" name="image">
    <button type="button submit" class="btn mt-4" style="background-color: #17252A; color:#DEF2F1;">Upload</button>
</div>
</form>


<% if(!result){ %>  <!--This is a passport construct-->
    <h1><%=result%></h1>
    
    <% } else { %>
    
    <%}%>